<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>48384217538-ou4stmtcntv2min6e98gc5bn6aqscpq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48384217538-ou4stmtcntv2min6e98gc5bn6aqscpq0</string>
	<key>API_KEY</key>
	<string>AIzaSyBH0OjayV9uTXioBqPOKVWJavR2hynWYTM</string>
	<key>GCM_SENDER_ID</key>
	<string>48384217538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cykul.RemoteNotifications1-01</string>
	<key>PROJECT_ID</key>
	<string>remotenotifications-311f4</string>
	<key>STORAGE_BUCKET</key>
	<string>remotenotifications-311f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48384217538:ios:ee2151976a8cba1f</string>
	<key>DATABASE_URL</key>
	<string>https://remotenotifications-311f4.firebaseio.com</string>
</dict>
</plist>